.main-content{
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    max-width: 90%;
}

/* Left Section */
.left-section{
    grid-column: span 1;
    background: linear-gradient(-360deg, #1cbed3, #ff952e);
}
.right-section{
    grid-column: 1 span end;
}
.left-content{
    padding: 1rem;
}
.profile-image img{
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
}

/* Right Section */
.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

/* Media Queries */

@media screen and (width < 674px) {
    .main-content{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        min-height: 1000px;
    }
}